* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 16px 5% 64px 5%;
    flex: 1 0 auto;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

button {
    background-color: #3882f6;
    border-color: #f9faf8;
    color: #f9faf8;
    width: fit-content;
    padding: 4px 16px;
    border-radius: 6px;
    border-style: solid;
    font-weight: 600;
}

.top-of-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 96px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    flex-direction: row;
}

#announcement {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

#under-main-title, .links {
    color: #e5e7eb;
    font-size: 18px;
}

.bottom-of-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-of-header .text {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
}

#header-image {
    background-color: grey;
    color: white;
    text-align: center;
    width: 400px;
    height: auto;
}

.body1 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#body-header {
    font-size: large;
    font-weight: bold;
}

.body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    text-align: center;
}

#quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding: 0px 96px;
}

#attribution {
    font-size: 24px;
    font-weight: bold;
}

.body3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-bottom {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 0px 32px;
    margin: 16px 0px;

}

.signup-bottom .left .top {
    font-weight: bold;
    font-size: 18px;
    max-width: 800px;
}

.signup-bottom .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.signup-bottom .right .signup {
    margin-left: 32px;
}

.images {
    display: flex;
    flex-direction: row;
}

.image1, .image2, .image3, .image4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0px 24px;
    max-width: 200px;
}

#image1, #image2, #image3, #image4 {
    border: 4px;
    width: 200px;
    height: auto;
}

a:link {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding: 0 8px;
}

a:visited {
    color: #e5e7eb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}